

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 body{
    background-color: #fee4bfb8;
    
} 
.main{
    background-color: #A6A29D; 
     max-width: 1000px;
     min-height: 100vh;
     margin: 30px auto;
     padding: 30px;
     border-radius: 20px;
}
h1, h2,h3, h4, p  {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
 h3 span{
    color: #FFBA5A;
    font-weight: bold;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-decoration: solid;
    
}
 h3 span:hover{
    text-decoration: overline;
    cursor: pointer;
}
.search-bar{
    margin: 1rem 0 0 16rem;
    width:400px;
    height:40px;
    
    border:none;
    outline:none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
}
.container{
    width: 80%;
    margin:25px auto;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 5rem;
}
.card{
    width: 250px;
    height: 300px;
    margin:10px;
    border-radius: 1rem;
    background-color: #fff;
    padding: 10px;

}
.card img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.card h3{
    color:rgb(71, 90, 218);
    font-size: 18px;
}
.content img{
    width:20%;
     border-radius: 10px;
    margin: 20px 0 0 100px;
    
    
}  
.content img:hover{
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(186, 210, 238);
    transition: all 0.2s ease-in-out;

}
 .content .inner-content{
    
    color: black;
    font-size: 1.0rem;
    padding: 2rem;
    text-align: center;
    position: absolute;
    top:20%;
    left:60%;
    transform: translate(-50%,-50%);
    
} 
.recipe-details{
    width: 70%;
    margin:2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.instructions{
   flex-basis: 50%;
   text-align: justify;
   background: #A6A29D;
   color: rgb(243, 210, 180);
   padding: 15px;
   width: 50%;
   height: 400px;
   overflow: scroll ;

   border: 1px solid #fbbd6b;
    
}   
.ingredients h2, h4{
    margin:  1.0rem 0 0 0;
    font-weight: bold;
    font-family:  Arial, Helvetica, sans-serif;


}
.video{
    width: 40%;
    margin: 3rem auto;
}
.indexContainer{
    display: flex;
    margin: 2.5rem 0;
}
.numBox {
    width: 50px;
    height: 40px;
    background-color: #030e12;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 5px 0 5px;
}
.inner-content a{
    width: 10px;
    text-decoration: none;
    padding: 5PX;
    border-radius: 5PX;
    color:#628ECB ;
    border:1px solid ;
    font-weight: bold;
    
}
.card span{
    text-align: center;
    font-family:'Courier New', Courier, monospace ;
    font-style: bold;
}